.page {
    margin: 0 auto;
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(11,11,11,0.9);
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://scontent-yyz1-1.xx.fbcdn.net/v/t39.30808-6/289845343_10159738538192795_4404890727158464510_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=gyUZ3LrzYwMAX84mBYp&_nc_oc=AQk7qoXhBDCrIfdjpWzfZjhx1cscgjHKbok9Bd73B3G8PFv6DhUsCoCjSnugDqwtrFU&_nc_ht=scontent-yyz1-1.xx&oh=00_AT9tli_lTyJSxxSaWy_1gudDyIPD4uexzymZ4uHek2kVaA&oe=6339C532");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 14px;
    margin-top: 20px;
  }

  .hero-text {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    border-radius: 14px;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    
    border-radius: 14px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    border-radius: 14px;
    }
  }
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: purple;
    color: white;
    text-align: center;
    border-radius: 14px;
    margin-top: 5px;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }